@import "./header.css";
@import "./footer.css";
@import "./home/join_us.css";
@import "./pdp/ingredients.css";
@import "./pdp/black-banner.css";
@import "./pdp/recipes.css";


.header__hero--plp {
  display: block;
  height: auto !important;
}
p{
  margin: 0 ;
}
.header__hero {
  height: auto;
}
.header-plp__breadcrumbs {
  padding: 0.8rem 0;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
}
.header-plp__breadcrumbs .breadcrumb {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 170%;
  color: var(--black);
  opacity: 0.5;
}
.header-plp__breadcrumbs .breadcrumb--plp i {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}
.header-plp__breadcrumbs .breadcrumb--plp {
  opacity: 1;
}

.header__hero--plp {
  position: relative;
  height: calc(100vh - 12.9rem);
}
.backround-color {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background-color: #fffbf7;
  height: 100%;
  width: 50%;
}

.product-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 0 4.5%;

  color: var(--black);
  padding-top: 6.8rem;
}
.product__subtitle {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.product__title {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 148%;
  margin-bottom: 0.8rem;
}

.product__text {
  font-size: 1.4rem;
  line-height: 157.6%;
}
.product-grid .stars {
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;

  width: 17.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.border-top {
  border-top: 1px solid #cbcbcb;
  padding-top: 1.6rem;
}
.product__content ul {
  margin-top: 2.4rem;
  padding-bottom: 1.6rem;
}

.product__socials {
  display: flex;
  border-top: 0.1px solid #cbcbcb;
  padding-top: 1.6rem;
  border-bottom: 0.1px solid #cbcbcb;
  padding-bottom: 1.6rem;
}
.product__socials span {
  margin-right: 1.3rem;
}
.product__socials img {
  margin-right: 1.6rem;
  margin-top: 0.3rem;
}
.product__cta {
  display: block;
  margin-top: 1.6rem;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black);
}
.product__cta i {
  margin-left: 0.8rem;
}
.product__info h3 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.9rem;
  margin-bottom: 1.6rem;
}
.product__info .bold-text {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.product__info .bold-regular {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 170%;
}

.product__ingredients {
  width: 26.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.9rem;
  margin-bottom: 1.6rem;
}
.product__ingredients img {
  width: 1.6rem;
}
.product__ingredients p {
  margin: 0;
}
.quantity-text {
  margin-top: 0.9rem !important;
  /* margin-bottom: 1.6rem; */
}
.product__qty {
  display: flex;
  margin-bottom: 1.6rem;
}
.product__qty div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8rem;
  width: 5rem;
  height: 5rem;
}
.product__qty div:hover {
  cursor: pointer;
  border-bottom: 1px solid #bb6b1e;
}
.product__price-options {
  display: flex;
  flex-direction: column;
  border-top: 0.1px solid #cbcbcb;
  padding-top: 1.6rem;
  border-bottom: 0.1px solid #cbcbcb;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
 
}
.product__price-options label {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}
.product__price-options input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;

  border: 1px solid #999;
  transition: 0.2s all linear;
  margin-right: 1.6rem;
}
.product__price-options input:checked {
  border: 6px solid #ffffff;
  background-color: #000000;
  outline: 1px solid #999;
}
.product__price-options label a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  margin-left: 0.6rem;
  text-transform: none;
  color: #000000;
}

.product__cta-btn {
  width: 100%;
  height: 4.8rem;
  border: none;

  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
  color: #ffffff;
  background-color: var(--black);
}

/* swiper */
.product__slider {
  position: relative;
}

.product__slider .swiper {
  width: 100%;
  height: 100%;
}

.product__slider .swiper-slide {
  text-align: center;
  font-size: 18px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.product__slider .swiper-slide img {
  display: block;
  width: 80%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: -7rem;
}

.product__slider .swiper-pagination {
  position: absolute;
  bottom: 4.5rem;
  left: 0px;
  width: 100%;
}
.product__slider .swiper-pagination-bullet-active {
 
   background-color: var(--black) !important; 
}
.product__slider .swiper-button-next:after {
  content: "next";
  color: var(--black);
  font-size: 2.4rem;
  
  /* display: none; */
  opacity: 0;
}
.product__slider  .swiper-button-prev:after {
  content: 'prev';
  color: var(--black);
  font-size: 2.4rem;
  /* display: none; */
  opacity: 0;
}
.product__slider .swiper-button-next i, .swiper-button-prev i {
  color: var(--black);
  font-size: 2.2rem;
}
.product__slider .swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 584px;
  /* align-items: flex-end; */
  width: 3.5rem;
  height: 2.5rem;
  z-index: 11;
  /* background-color: #bb6b1e; */
}

/* accordion css */
.product__accordion {
  height: 14.8rem;
}
.panel-group {
  margin-bottom: 0;
}
.panel {
  margin-bottom: 0;
  background-color: #fff;
  border: none;
  border-radius: 0;

  box-shadow: none;
}
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}
.panel-group .panel .panel-heading {
  padding: 0;
}
.panel-group .panel .panel-heading h4 a {
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  padding: 0.8rem 0;
  text-decoration: none;
  transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:hover,
.panel-group .panel .panel-heading h4 a:not(.collapsed) {
  background: #fff;
  transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
  content: "ï¨";
}
.panel-group .panel .panel-heading h4 a i {
  color: #999;
}
.panel-group .panel .panel-body {
  padding-top: 0;
}
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}
.panel-group .panel + .panel {
  border-top: none;
  margin-top: 0;
}
.panel-default > .panel-heading {
  color: rgb(51, 51, 51);
  background-color: white;
  border-color: rgb(221, 221, 221);
}

