/* body {
  font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Philosopher", sans-serif;
  font-family: "Poppins", sans-serif;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

}
html {
  font-size: 10px;
}
:root {
    
    --black: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  /* width: 1440px; originally 1280 +10+10 padding */
  /* max-width: 100%; */
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1380px;
}
