.black-banner {
  background-color: var(--black);
  padding: 8rem 0;
}
.black-banner__grid {
  display: grid;
  grid-template-columns: 50% 50%;
}
.black-banner__img img {
  width: 100%;
}
.black-banner__content {
  padding-right: 6.8rem;
}
.black-banner__content h2 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 7rem;
  line-height: 7.8rem;
  margin-bottom: 14.2rem;
  color: #ffffff;
}
.black-banner__content h4 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #eae5dd;
  margin-bottom: 1.7rem;
}
.black-banner__content p {
  font-size: 1.4rem;
  line-height: 170%;
  color: #ffffff;
}
.black-banner__img h2 {
  display: none;
}

/* media */

@media (max-width: 600px) {
  .black-banner__grid {
    display: flex;
    flex-direction: column-reverse;
  }
  .black-banner__content h2 {
    display: none;
  }
  .black-banner__img {
    margin-bottom: 2.4rem;
  }
  .black-banner__img h2 {
    display: block;
    text-align: center;
    font-family: "Philosopher";
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: #ffffff;
    margin-bottom: 1.8rem;
  }
  .black-banner {
    padding: 4rem 0;
}
}
