.ingredients {
  padding: 8rem 0;
  color: var(--black);
}
.ingredients h2 {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 148%;
  text-align: center;
  margin-bottom: 2.4rem;
}
.ingredients__text {
  width: 72rem;
  margin: 0 auto 3.9rem;
}
.ingredients__text span{
font-weight: 700;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.ingredients p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 170%;
  text-align: center;
}
.ingredients__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #000; */
  padding: 0.1rem;
}
.ingredients__card h4 {
  margin: 2.4rem 0 1.8rem;
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.6rem;
}
.ingredients__cta {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--black);
  display: block;
  margin-top: 1.6rem;
}

.ingredients__slider .swiper-pagination {
  display: none;
}

/* media */ 

@media(max-width:600px) {
  .ingredients {
    padding: 4rem 0;
}
  .ingredients h2 {
    font-size: 2.8rem;
  }
  .ingredients p {
    font-size: 1.2rem;
    
}
.ingredients__text {
  width: 100%;
}
.ingredients__slider .swiper-pagination {
  display: block;
}
.ingredients__card img {
  width: 12rem;
  height: 12rem;
}
.ingredients__card h4 {
  margin: 1.6rem 0 1rem;
  
  font-size: 2.4rem;
  line-height: 2.7rem;
}
.ingredients__card p {
  font-size: 1.4rem;
}
.ingredients__card {
  padding-bottom: 1rem;
}
.ingredients__cta  {
  display: none;
}
.ingredients__slider .swiper {
  height: 30rem;
}
.swiper-pagination-bullet-active {
  background-color: var(--black);
}
}