.recipes {
  background-color: #fffbf7;
  padding: 4rem 0 8rem;
  color: var(--black);
}
.recipes h4 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;

  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.recipes__line {
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 1.7rem;
}
.card__img-bg {
  height: 100%;
  width: 56rem;
}
.card__img-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.recipes__slider {
  height: 60rem;
  margin-top: 4rem;
  padding-left: 6rem;
}
.recipes__card {
  position: relative;
  height: 100%;
  display: flex;
  background-color: #fffbf7;
}
.recipes__card .card__img {
  position: relative;
}
.recipes__card .card__img .funkin {
  position: absolute;
  right: -66px;
  top: 56px;
}

.card__content {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fffbf7;
}
.card__content h2 {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 148%;
  margin-bottom: 4rem;
}
.card__content h3 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}
.card__content li {
  font-size: 1.4rem;
  line-height: 170%;
}
.card__content a {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 4rem;
}

/* slider */

.recipes__slider .swiper {
  width: 100%;
  height: 100%;
  background-color: #fffbf7;
  position: relative;
}

.recipes__slider .swiper-slide {
  width: 97.8rem !important;
  font-size: 18px;
  margin-right: 20rem;
}

.recipes__slider .swiper-pagination {
  display: none;
}
.recipes__slider .swiper-button-next {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #ffffff;
  background-color: #f38a09;
}
.recipes__slider .swiper-button-next:after {
  
  display: none;
}
.recipes__slider .swiper-button-next {
  /* right: 380px; */
  left: 98rem;
}


/* media */

@media(max-width:600px) {
  .recipes__slider .swiper-button-next {
    display: none;
  }
  .recipes__slider .swiper-button-prev {
    display: none;
  }
  .recipes__slider .swiper-pagination {
    display: block;
  }
  .recipes__slider .swiper-slide {
    width:100%   !important;
    
}
.recipes__slider  {
  padding-left: 1.6rem;
  height: 73rem;
}
.card__img-bg {
  width: 27.8rem;
}
.recipes__card .card__img .funkin {
  top: 11%;
  left: 48.5%;
  width: 216px;
}

.recipes__card  {
  flex-direction: column;
}
.card__content h2 {
  font-size: 2.8rem;
}
.card__content {
  margin-top: 1.6rem;
  margin-left: 0;
  
}
}