.join_us h2 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 64px;
  text-align: center;

  color: var(--black);
  margin: 5.3rem 0 4.9rem;
}

.join_us__images {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.join_us__images img {
  width: 100%;
}

/* media */
@media (max-width: 600px) {
  .join_us h2 {
    font-size: 4rem;
    line-height: 6.4rem;
    margin: 1.8rem 0 2.4rem;
  }

  .join_us__images {
    grid-template-columns: 50% 50%;
}
}
