.testimonial__banner {
  background-image: url("../../images/home/coctail_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13.8rem 36rem;
}
.testimonial__banner--refer {
  background-image: url("../../images/home/coctail_banner1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15.4rem 36rem 15.9rem;
}
.testimonial__banner p {
  margin-bottom: 3.5rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}
.testimonial__banner h2 {
  margin-bottom: 3rem;
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  text-align: center;

  color: #ffffff;
}
.testimonial__banner a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display: block;
  width: 12rem;
  margin: 0 auto;
}
.testimonial__slider {
  padding: 4rem 0 4.7rem;
  background-color: #fffbf6;
}

.testimonial__slider .swiper {
  width: 100%;
  height: 100%;
}
.backtick {
  width: 1.9rem !important;
  height: 1.6rem !important;
}
.testimonial__brand {
  width: 10.6rem !important;
  height: 4rem !important;
  margin-top: 4rem;
}
.testimonial__slider .swiper-slide p {
  margin: 2.4rem 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;

  text-align: center;
}
.testimonial__slider .swiper-slide {
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;

  text-align: center;
  font-size: 18px;
  background-color: #fffbf6;
  cursor: pointer;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.testimonial__slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* media */

@media (max-width: 900px) {
  .testimonial__banner {
    padding: 5.8rem 5rem;
  }

  .testimonial__banner h2 {
    font-size: 68px;
    line-height: 71px;
  }
  .testimonial__slider .swiper-slide {
    padding: 3rem 3rem;
  }
}
@media (max-width: 768px) {
  .testimonial__banner h2 {
    font-size: 5rem;
    line-height: 6rem;
  }
  .testimonial__banner {
    padding: 1.8rem 2rem;
  }
}
@media (max-width: 600px) {
  .testimonial__banner p {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .testimonial__banner h2 {
    font-size: 3.2rem;
    line-height: 4rem;
}
.testimonial__banner {
  padding: 4.65rem 0rem;
}
}
